.book-list-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(135deg, #1abc9c, #16a085);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book-list-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 1s ease;
}

.book-list {
  overflow-y: auto;
  max-height: 50vh;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff3e3;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.book-details h3 {
  font-weight: 700;
  color: #3e3e3e;
}

.book-item button {
  background-color: #e76f51;
  border: none;
  border-radius: 4px;
  padding: 6px 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-item button:hover {
  transform: scale(1.05);
}

.add-book-container {
  margin-top: 20px;
}

input[type="text"], select {
  padding: 10px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 14px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff9f1;
}

input[type="text"]::placeholder,
select::placeholder {
  font-style: italic;
  color: #b4b4b4;
}

.add-button {
  background-color: #21867a;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 1rem;
  width: 100%;
}

.add-button:hover {
  background-color: #18766b;
  transform: scale(1.05);
}

.add-button:active {
  transform: scale(0.95);
}
