/* Style général du body */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;

}

/* Style de la navbar */
nav {
  background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Applique un effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border-radius: 8px; /* Bord arrondi pour un effet plus moderne */
}


/* Style des liens de la navbar */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #1abc9c;
  color: white;
}

/* Style pour le contenu en dessous */
main {
  padding: 20px;
  text-align: center;
}

